
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
  font: 12px/1 Verdana, Geneva, sans-serif;
}

pre,
code, .code {
  font-family: "Courier New", Courier, monospace;
  background-color: #f6f6f6;
  border-radius: 0.3rem;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 4px;
  padding-left: 4px;
  margin-bottom: 2px;
  margin-top: 2px;
  border: 1px solid #e6e6e6;  
}

pre {
	word-wrap: normal;
}


hr {
  border: 0 solid #ccc;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
  padding: 5px 0;
  text-align: left;
}

dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px; /*mvy, was 20px*/
}

p,
span {
  margin-bottom: 0px; /*mvy, was 20px*/
  line-height: 1.25; /*mvy*/
}
