<!-- with headers -->

{%- assign current_type = "" -%}
{% for pub in site.data.publications %}
  {%- if pub.type != current_type -%}
    {%- if current_type != "" -%}
    </div>
    {%- endif -%}
    {%- assign current_type = pub.type -%}
    <div class="col-12 mt-4 mb-2">
      <h5 id="{{ pub.type | slugify }}"  class="text-uppercase font-weight-bold text-muted"
          style="letter-spacing:.1em; border-bottom: 2px solid; padding-bottom:.4rem;">
        {{ pub.type }}
      </h5>
    </div>
    <div class="card-group mt-2">
  {%- endif -%}
  {% include publications/publication-card-json.html %}
{% endfor %}
</div>