<!-- Collect tags from all pubs -->
<!-- {%- assign tags = blank -%}
{%- for pub in site.data.publications -%}
  {%- assign pub_tags = pub.tags  -%}
  {%- if pub_tags != '|' -%}
    {%- assign tags = tags | append:pub_tags -%}
  {%- endif -%}
{%- endfor -%}
{%- assign tags = tags | split:'|' | uniq | sort -%} -->

{%- assign all_tags = "" -%}
{%- for pub in site.data.publications -%}
  {%- for tag in pub.tags -%}
    {%- assign all_tags = all_tags | append: tag | append: "|" -%}
  {%- endfor -%}
{%- endfor -%}
{%- assign tags = all_tags | split: "|" | uniq | sort -%}

<!-- List tags & related pubs -->
{% for tag in tags %}
<div class="py-3">
  <h4 id="{{ tag | slugify }}">{{ tag }}</h4>
  <ol>
  {% for pub in site.data.publications %}
    {%- if pub.tags contains tag -%}
      {%- if pub.pdf or pub.doi -%}
        {%- if pub.pdf -%}
            {%- assign url = pub.pdf -%}
        {% else %}
            {%- assign url = pub.doi -%}
        {%- endif -%}
      {%- else -%}
        {%- assign url = pub.url | relative_url -%}
      {%- endif -%}
    <a href="{{ url }}"><li>{{ pub.title }}</li></a>
    <small class="text-muted">{{ pub.text}}</small>
    <!-- <small class="text-muted"> - {{ pub.date | date_to_long_string }}</small> -->
    <br/>
    {%- endif -%}
  {% endfor %}
  </ol>
</div>
<hr class="bg-light">
{% endfor %}