<!-- Collect tags from all projects -->
{%- assign all_tags = "" -%}
{%- for project in site.projects -%}
  {%- for tag in project.tags -%}
    {%- assign all_tags = all_tags | append: tag | append: "|" -%}
  {%- endfor -%}
{%- endfor -%}
{%- assign tags = all_tags | split: "|" | uniq | sort -%}

<!-- List tags & related projects -->
{% for tag in tags %}
<div class="py-3">
  <h4 id="{{ tag | slugify }}">{{ tag }}</h4>
  <ol>
  {% for project in site.projects %}
    {%- if project.tags contains tag -%}
      {%- if project.pdf or project.doi -%}
        {%- if project.pdf -%}
            {%- assign url = project.pdf -%}
        {% else %}
            {%- assign url = project.doi -%}
        {%- endif -%}
      {%- else -%}
        {%- assign url = project.url | relative_url -%}
      {%- endif -%}
    <a href="{{ url }}"><li>{{ project.title }}</li></a>
    <small class="text-muted">{{ project.date | date_to_long_string }}</small>
    <br/>
    {%- endif -%}
  {% endfor %}
  </ol>
</div>
<hr class="bg-light">
{% endfor %}