<div class="wow animated fadeIn" data-wow-delay=".15s">
  <a
    href="{{ talk_url }}"
    class="talk card text-themed"
    {%-
    if
    external
    and
    site.open_new_tab
    -%}
    target="_blank"
    {%-
    endif
    -%}
  >
    {%- if talk_img -%}
    <img
      id="{{ talk_id }}-img"
      class="card-img-top"
      src="{{ talk_img }}"
      alt="{{ talk_name }}"
    />
    {%- endif -%}
    <div class="card-body">
      <h5 id="{{ talk_id }}-name" class="card-title">
        {%- if talk_type == "remote" -%}
        <i
          class="fab fa-github"
          data-toggle="tooltip"
          data-placement="bottom"
          data-delay="250"
          title="GitHub Repository"
        ></i>
        |&nbsp; {%- endif -%} {{ talk_name }}
      </h5>
      <p id="{{ talk_id }}-desc" class="card-text">{{ talk_desc }}</p>
      <p id="{{ talk_id }}-tags" class="card-text">
        {%- for tag in talk_tags -%}
        <span class="badge badge-pill text-primary border border-primary ml-1">{{ tag }}</span>
        {%- endfor -%}
      </p>
    </div>
    <div class="card-footer {{ text_style }}">
    {{ talk.date| date_to_long_string }}
    </div>
  </a>
</div>
