---
---
@import "portfolYOU";

// Fixing line breaks duet ot use of <a> and <i> in titles and texts of timeline in vitae
.timeline-item .content p a,
.timeline-item .content h2 a {
  display: inline !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

.timeline-item .content a::after,
.timeline-item .content a::before,
.timeline-item .content i::after,
.timeline-item .content i::before {
  display: none !important;
  content: none !important;
}


